# dependencies
/node_modules

# next.js build
/.next
/out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
playwright-report
.env.local
.env.development.local
.env.test.local
.env.production.local

test-16
results
test 